.posts-content{
    width: 1278px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #C4C4C4;
    padding: 15px;
    margin-top: 3px;
    flex-wrap: wrap;
    color: black;
}

.posts-square{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.posts-information{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.posts-text{
    display:flex;
    align-items: center;
}

.posts-year{
    color:#515151;
    margin-left: 10px;
}
.posts-image{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.posts-comments{
    display: flex;
    align-items: baseline;
    color: #6A6A6A;
    margin-right: 20px;
}
