.sqrs_specs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 250px;
}
.sqrs_specs div{
    color: white;
    width: 250px;
    height: 250px;
    margin: 30px;
    box-shadow: 1px 2px 1px black;

}
.sqrs_specs img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 170px;
    filter: invert(100%);
}