body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body, ul, p{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}

button{
    background: #ffffff;
    border: none;
    border-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.esquerda a{
    font-family: 'Architects Daughter', cursive;
}

a{
    text-decoration: none;
    color: #676767;
}

.img img{
    width: 64px;
}

.Hope{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid #4BCFEC;
    width: 100%;
}

.esquerda{
    display: flex;
    align-items: center;
}

.items{
    display: flex;
    padding: 20px;
    margin-right: 300px;
}

.items li{
    margin-left: 20px;
}

.items li a{
    color:#676767;
}

.esquerda img {
    margin-left: 400px;
}

.logout{
    background-color: #4BCFEC;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

