.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #C4C4C4;
    flex-wrap: wrap;
}

.footer-menu li{
    font-size: 14px;
    color: black;
}

.footer-about{
    font-size: 14px;
}

.footer-logo img{
    width: 160px;
}

.footer-contacts{
    font-size: 14px;
}

.footer-social{
    display: flex;
    flex-direction: row;
}

.footer-social img{
    width: 25px;
    margin-right: 10px;
}
.footer-copyright{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: #A3A3A3;
    padding: 10px;
}