.squares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 300px;
    font-family: Arial;
}
.squares a{
    margin: 10px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 2px 3px black;
}
.squares ul{
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
}
.square-title{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
}
.square-title h1{
    font-size: 30px;
    padding-left: 10px;
    color: white;
}
.squares img{
    max-width: 70px;
    max-height: 70px;
    margin-left: 5px;
    margin-top: 3px;
}
.sqr1{
    background-color: #2A5893;
}
.sqr2{
    background-color: #207245;
}
.sqr3{
    background-color: #ffd04c;
}
.sqr4{
    background-color: #d14424;
}
