
.inicio{
    padding: 300px;
    text-align: center;
    background-color:#EAEAEA;
}

.texto h2{
    font-size: 40px;
    color: black;
}

.texto p{
    color: black;
}

.conjunto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.clicaveis{
    border: none;
    color: black;
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    outline: none;
}

.click{
    background:#83CBD4;
}

.click:hover{
    background: rgba(0,0,0,0);
    color:#83CBD4;
    box-shadow: inset 0 0 0 3px #83CBD4;
}

.login{
    margin-left: 40px;
}

.login button{
    padding-left: 60px;
    padding-right: 60px;
}

.animation{
    position: relative;
    animation-name: up;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}
  
@keyframes up{
    from {top: -300px;}
    to {top: 0px;}
}