body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.page{
    display: flex;
    align-items: center;
    background-color:  #2A5893;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    color: white;
}
.page img{
    width: 400px;
}
.page p{
    padding-left: 100px;
    padding-right: 100px;
}
.squares{
    display: flex;
    justify-content: center;
}
.squares img{
    margin: 70px;
    margin-bottom: 100px;
    width: 200px;
}