.summary-center{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 200px;
}
.page{
    background-color:#2A5893 ;
    width: 50%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px black;

}
.page img{
    width: 300px;
}
.page p{
    font-size: 25px;
    color: white;
}