.Slides{
    display: flex;
    width: 785px;
    animation-name: enter;
    animation-duration: 1s;  
}
@keyframes enter{
    from {top: -150px; opacity: 50%;}
    to {top: 0px; opacity: 100%;}
}
.text{
    background-color: #2A5893;
}
.text2{
    background-color: #207245;
}
.text3{
    background-color: #d14424;
}
.text4{
    background-color: #ffd04c;
}
.subtext p{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.date {
    padding-left: 550px;
    margin-bottom: 10px;
}
.wordlogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.exlogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.pplogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.gdlogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.wordlogo p{
    color: white;
    font-size: 70px;
}
.exlogo p{
    color: white;
    font-size: 70px;
    margin-top: 10px;
}
.pplogo p{
    color: white;
    font-size: 70px;
}
.gdlogo p{
    color: white;
    font-size: 70px;
    margin-top: 10px;
}
.wordlogo img{
    width: 100px;
}
.exlogo img{
    padding-top: 10px;
    margin-right: 10px;
    width: 90px;
}
.pplogo img{
    padding-top: 10px;
    margin-right: 10px;
    width: 90px;
}
.gdlogo img{
    width: 80px;
    margin-top: 10px;
}
.Slides .slick-dots li{
    transform: rotate(45deg);
}
.Slides .slick-dots li button::before {
    opacity: 1;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: #4BCFEC;
    margin: 10px;
}
.Slides .slick-dots li.slick-active button::before {
    border: 2px solid white;
    background: #4BCFEC;
    opacity: 1;
    transition: all 200ms;
}
