.forum-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#EAEAEA;
}

.forum-square{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.forum-posts{
    margin-left: 320px;
}