.adicionarr{
    position: relative;
    left: 75%;
    border: none;
    cursor: pointer;
    padding: 0;
}
.popalll{
    position: relative;
    bottom: 50px;
    left: 30px ;
}
.add{
    position: relative;
    top: 20px;
    right: 15px;
}
.cmt{
    border: none;
    margin: none;
    position: relative;
    background: none;
    top: 30px;
    left: 1620px;
    cursor: pointer;
}
.anx{
    border: none;
    margin: none;
    position: relative;
    background: none;
    top: 25px;
    left: 1420px;
    cursor: pointer; 
}