.sobre-page{
  display: flex;
  flex-direction: column;
}

.container{
  background-color: #C4C4C4 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 250px;
  justify-content: space-between;
  margin-top: 150px;
  position: relative;
}

.h1{
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
}

.p{
  text-align: center;
  font-size: 25px;
  line-height: 1.5em;
}

#arrowla{
  position: relative;
  right: 140px;
}

#arrowca{
  position: relative;
  left: 140px;
}