body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial;
}
.contentbody{
    background-color: #EAEAEA;
    padding: 100px;
    display: flex;
    justify-content: center;
}
