.specific-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display_btn{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
