.arrow img{
    width: 50px;
    transition: all 300ms; 
}
.arrow{
    min-width: 60px;
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
.arrow img:hover{
    width: 60px;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 300ms;
} 