.recuperar-geral{
display: flex;
align-items: center;
justify-content: center;
background: #EAEAEA;
}

.blocos-recuperar{
    margin: 150px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.block1-recuperar{
    background-image: url(../../assets/images/fundorecuperarsenha.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.block1-recuperar img{
    width: 130px;
    border-radius: 130px;
    height: 130px;
    margin-top: 75px;
}

.block1-recuperar button{
    text-align: center;
    margin-top: 15px;
    color: white;
    border: 2px solid white;
    font-size: 12px;
}

.block2-recuperar{
    display: flex;
    flex-direction: column;
    text-align: center;
    background:white;
    width: 100%;
    padding: 50px;
}

.block2-recuperar input {
    border: 2px solid rgb(197, 181, 181);
    padding: 10px;
    margin: 5px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.block2-recuperar button{
    font-size: 14px;
    padding: 2px;
    margin-left: 80px;
}

.block2-recuperar a{
    margin-bottom: 50px;
    background-color: darkgray;
    padding: 2px;
    border-radius: 300px;
}

.btnend-recuperar{
    display: flex;
    justify-content: center;
}

.btnend-recuperar button{
    margin: 25px;
    padding: 5px;
}



