.adicionar{
    position: relative;
    left: 75%;
    border: none;
    cursor: pointer;
    padding: 0;
}
.popall{
    position: relative;
    bottom: 0px;
    left: 30px ;
}
.crar{
    position: relative;
    left: 300px;
    bottom: 30px;
    border: none;
    cursor: pointer;
}